<%= render cart.line_items %>
<br>
<div id='units_range_title'>Total units:</div> 
<% if cart.lower_bound == cart.upper_bound %>
	<div id='units_range'><%= cart.lower_bound %></div>
<% else %>
	<div id='units_range'><%= cart.lower_bound %> - <%= cart.upper_bound %></div>
<% end %>
<br>
<%= link_to 'Back to courses', courses_path %>
<div class="empty_cart"><%= button_to 'Empty cart', cart, {:method => :put, :remote => true,
:confirm => 'Are you sure?'} %></div>