<% @title %>

<%= form_for @search do |f| %>
  <table>
	<tr>
	    <th><%= f.label :name_like, "Name" %></th>
		<th><%= f.label :instructor_like, "Instructor" %></th>
		<th><%= f.label :day_like, "Meets on these days" %></th>
		<th><%= f.label :units_like, "Units" %></th>
    </tr>
	<tr>
		<td><%= f.text_field :name_like %></td>
    	<td><%= f.text_field :instructor_like %></td>
	  </p>
	</tr>
 </table>
<em>You may leave any of the above fields blank </em>

  <p><%= button_to 'Search', searches_path %></p>
<% end %>
