<% "Search" %>
<table>
	<tr>
		<th align="left" width="25%"><%= 'Name' %></th>
	    <th align="left" width="10%"><%= 'Number' %></th>
	    <th align="left" width="20%"><%= 'Instructor' %></th>
	    <th align="left" width="10%"><%= 'Room' %></th>
	    <th align="left" width="5%"><%=  'Day' %></th>
	    <th align="left" width="5%"><%=  'Units' %></th>
	    <th align="left" width="15%"><%=  'Time' %></th>
	    <th align="left" width="10%"><%=  'Limitations' %></th>
	</tr>
<%= render :partial => @search_show.courses %>
</table>






