<tr>
   <td><%= course.name %></td>
   <td><%= course.number %></td>
   <td><%= course.instructor %></td>
   <td><%= course.room %></td>
   <td><%= course.day %></td>
   <td><%= course.units %></td>
   <td><%= course.time %></td>
   <td><%= course.limitations %></td>
   <td><%= link_to 'Show', course %></td>
</tr>
