<div id="first_row"> 
	<span id="name_header"><%= sort_link @search, :name %></span>
	<span id="icons_header"></span>
	<span id="instructor_header"><%= sort_link @search, :instructor %></span>
	<span id="day_header"><%= sort_link @search, :day_num, "Day" %></span>
	<span id="time_header"><%= sort_link @search, :time_num, "Time" %></span>			
	<span id="units_header"><%= sort_link @search, :units_alt, "Units" %></span>
	<span id="limitations_header"><%= sort_link @search, :limitations %></span>
	<span id="exam_header"><%= sort_link @search, :exam_type, "Exam"  %></span>
	<span id="paper_header"><%= sort_link @search, :paper_type, "Paper" %></span>
</div>

<% for course in @courses %>
	<div class="other_rows">
		<span class="name_body"><a class="course_name_click" href='#'><%= course.name %></a></span>
		<span class="icons">
			<span class="calendar_body">
			    <a href=""><img src="/images/calendar_add.png" align="absbottom" border=0 title="Add to calendar" id="add_to_cal"></img></a>
			</span>
			<span class="eval_body">
			<% if course.evals.blank? %>
			<% else %>
				<span class="eval_link">
				<%= link_to image_tag("chart_bar.png", :border=>0, :align=>"absbottom", :title=>"Course evaluations"), course %></span>
				<span id="lightbox"></span>
			<% end %>
			</span>
			<span class="cart_body">
				<% if user_signed_in? %>
					<%= form_for(@line_item, :remote => true) do |f| %>
						<%= f.hidden_field :course_id, :value => course.id %> 
						<span class="cart_add<%= '_hidden' if @courses_in_cart.has_key?(course) %>" title="Add to cart" id="<%="#{course.id}"%>"><%= image_submit_tag("cart_add.png", :border=>0, :align=>"absbottom") %></span>
					<% end %>
				<% end %>
			</span>
		</span>
		<span class="instructor_body"><%= course.instructor %></span>
		<span class="day_body"><%= course.day %></span>
		<span class="time_body"><%= course.time %></span>			
		<span class="units_body"><%= course.units_alt %></span>
		<span class="limitations_body"><%= course.limitations %></span>
		<span class="exam_body"><%= course.exam_type %></span>
		<span class="paper_body"><%= course.paper_type %></span>				
	</div>
	<p class="descrip_body">
		<%= course.descrip %>
	</p>
<% end %>