<div id="first_row"> 
	<span id="name_header"><%= sort_link @search, :name %></span>
	<span id="calendar_header"></span>
	<span id="eval_header"></span>
	<span id="cart_header"></span>
	<span id="instructor_header"><%= sort_link @search, :instructor %></span>
	<span id="day_header"><%= sort_link @search, :day %></span>
	<span id="time_header"><%= sort_link @search, :time %></span>			
	<span id="units_header"><%= sort_link @search, :units %></span>
	<span id="limitations_header"><%= sort_link @search, :limitations %></span>
	<span id="exam_header"><%= sort_link @search, :exam_type, "Exam?"  %></span>
	<span id="paper_header"><%= sort_link @search, :paper_type, "Paper?" %></span>
</div>
