<%= form_for(@search, :remote=> true) do |f| %>
	<div class="field_container">
		<div id="name_search" class="float_and_margin"><%= f.label :name_like, "Name" %></div>
		<div><%= f.text_field :name_like, :class=>"float_and_margin", :id=>"name_input", :size => 35 %></div>
	</div>
	
	<div class="field_container">				
		<div id="instructor_search" class="float_and_margin"><%= f.label :instructor_like, "Instructor" %></div>
		<div><%= f.text_field :instructor_like, :class=>"float_and_margin" %></div>
	</div>

<% if @toggle == "0" %>	
	<div class="field_container">		
		<div id="day_search" class="float_and_margin"><%= f.label :day_like, "Day" %></div>
		<div><%= f.text_field :day_like, :class=>"float_and_margin", :title => "e.g. MW" %></div>
	</div>

	<div class="field_container">			
		<div id="tod_search" class="float_and_margin"><%= f.label :tod_like, "Start time" %></div>
		<div><%= f.select :tod_like, Course.tod_array, {:include_blank => true, :selected => @tod_results, :class=>"float_and_margin"} %></div>
	</div>

	<div class="field_container">			
		<div id="units_search" class="float_and_margin"><%= f.label :units_like, "Units" %></div>
		<div><%= f.select :units_like, ['1', '2', '3', '4'], {:include_blank => true, :selected => @units_results, :class=>"float_and_margin"} %></div>
	</div>

	<div class="field_container">
		<div id="limitations_search" class="float_and_margin"><%= f.label :limitations_like, "Limitations" %></div>
		<div><%= f.select :limitations_like, ['Limited', 'Permission', 'LSO'], { :include_blank => true, :selected => @limitations_results, :class=>"float_and_margin"} %></div>
	</div>

	<div class="field_container">			
		<div id="exam_search" class="float_and_margin"><%= f.label :exam_type_like, "Exam?" %></div>
		<div><%= f.select :exam_type_like, ['Self-schedule', 'Scheduled', 'None'], { :include_blank => true, :selected => @exam_results, :class=>"float_and_margin"} %></div>
	</div>
		
	<div id="paper_search" class="float_and_margin"><%= f.label :paper_type_like, "Paper" %></div>
	<div><%= f.select :paper_type_like, ['Required', 'Option'], { :include_blank => true, :selected => @paper_results, :class=>"float_and_margin"} %></div>
	
<% else %>
	
	<div class="field_container ct_container">		
		<div id="classtime_value_search" class="float_and_margin"><%= f.label :classtime_value_gt, "Classtime Value" %></div>
		<div> <div class="gt_or_lt_sign"> Greater than </div> <%= f.text_field :classtime_value_gt, :class=>"float_and_margin", :class => "above_0", :title => "Enter number greater than 0" %></div>
	</div>

	<div class="field_container iq_container">
		<div id="instructor_quality_search" class="float_and_margin"><%= f.label :instructor_quality_gt, "Instructor Quality" %></div>
		<div> <div class="gt_or_lt_sign"> Greater than </div> <%= f.text_field :instructor_quality_gt, :class=>"float_and_margin", :class => "above_0", :title => "Enter number greater than 0" %></div>
	</div>

	<div class="field_container workload_container">
		<div id="workload_search" class="float_and_margin"><%= f.label :workload_lt, "Workload" %></div>
		<div> <div class="gt_or_lt_sign"> Less than </div> <%= f.text_field :workload_lt, :class=>"float_and_margin", :class => "below_10", :title => "Enter number less than 10"%></div>
	</div>

<% end %>
<%= hidden_field_tag :toggle, @toggle %>	
<div class="search_button"><%= f.submit "Search", :remote => true, :class=>"search_submit", :id=>'' %></div>
<div class="course_list_link">| <%= link_to "Reset search and courses", courses_path(:filter_by_cart => "0", :toggle => @toggle ), :remote => true %></div>
<% if user_signed_in? %>
	<% if params[:filter_by_cart] == "1"%>
		<div class="course_list_link">| Currently showing courses in cart</div>
	<% else %>
		<div class="course_list_link">| <%= link_to "Show only courses in cart", courses_path(:filter_by_cart => "1", :toggle => @toggle ), :remote => true %></div>
	<% end %>
<% end %>

<div id="legend">
	Legend: 
	<img id="legend_eval" src="/images/chart.png" height=20 width=20> - Link to course evaluations </img> 
	<% if not user_signed_in? %> 
	| <img id="legend_cart" src="images/shopping_cart.png" height=20 width=20> - Add to cart (only available after login) </img> 
	<% end %>
	<% if user_signed_in? %>
		| <img id="legend_cart" src="images/shopping_cart.png" height=20 width=20> - Add to cart (# = number of users with this course in their cart)</img> 
	<% end %>
<% end %>
</div>	