<%= form_for(@search, :remote =>true) do |f| %>
	<div class="field_container">
		<div id="name_search"><%= f.label :name_like, "Name" %></div>
		<div id="name_box"><%= f.text_field :name_like, :size => 40 %></div>
	</div>

	<div class="field_container">				
		<div id="instructor_search"><%= f.label :instructor_like, "Instructor" %></div>
		<div id="instructor_box"><%= f.text_field :instructor_like, :size => 23 %></div>
	</div>
	
	<div class="field_container">		
		<div id="day_search"><%= f.label :day_like, "Day (e.g. MW)" %></div>
		<div id="day_box"><%= f.text_field :day_like, :size => 12%></div>
	</div>
	
	<div class="field_container">		
		<div id="time_search"><%= f.label :time_like, "Time" %></div>
		<div id="time_box"><%= f.text_field :time_like, :size => 10%></div>
	</div>
	
	<div class="field_container">			
		<div id="units_search"><%= f.label :units_like, "Units" %></div>
		<div id="units_box"><%= f.select :units_like, ['1', '2', '3', '4'], {:include_blank => true, :selected => :blank}, {:style => 'width:50px'} %></div>
	</div>
	
	<div class="field_container">
		<div id="limitations_search"><%= f.label :limitations_like, "Limitations" %></div>
		<div id="limitations_box"><%= f.select :limitations_like, ['Limited', 'Permission', 'LSO'], { :include_blank => true, :selected => :blank}, {:style => 'width:75px'} %></div>
	</div>
	
	<div class="field_container">			
		<div id="exam_search"><%= f.label :exam_type_like, "Exam?" %></div>
		<div id="exam_box"><%= f.select :exam_type_like, ['Self-scheduled', 'Scheduled', 'None'], { :include_blank => true, :selected => :blank }, {:style => 'width:65px'} %></div>
	</div>
				
	<div id="paper_search"><%= f.label :paper_type_like, "Paper" %></div>
	<div id="paper_box"><%= f.select :paper_type_like, ['Required', 'Option'], { :include_blank => true, :selected => :blank }, {:style => 'width:65px'} %></div>
	
<div id="search_button"><%= f.submit "Search" %></div>	
<div id="course_list_link"><%= link_to "Full Course List", courses_path%></div>
<% end %>	