<%= form_for(@search, :remote=> true) do |f| %>
	<div class="field_container">
		<div id="name_search" class="float_and_margin"><%= f.label :name_like, "Name" %></div>
		<div><%= f.text_field :name_like, :class=>"float_and_margin" %></div>
	</div>
	
	<div class="field_container">				
		<div id="instructor_search" class="float_and_margin"><%= f.label :instructor_like, "Instructor" %></div>
		<div><%= f.text_field :instructor_like, :class=>"float_and_margin" %></div>
	</div>
	
	<% if @toggle == "0" %>	
		<div class="field_container">		
			<div id="day_search" class="float_and_margin"><%= f.label :day_like, "Day" %></div>
			<div><%= f.text_field :day_like, :class=>"float_and_margin" %></div>
		</div>

		<div class="field_container">			
			<div id="tod_search" class="float_and_margin"><%= f.label :tod_like, "Start time" %></div>
			<div><%= f.select :tod_like, Course.tod_array, {:include_blank => true, :selected => :blank, :class=>"float_and_margin"} %></div>
		</div>

		<div class="field_container">			
			<div id="units_search" class="float_and_margin"><%= f.label :units_like, "Units" %></div>
			<div><%= f.select :units_like, ['1', '2', '3', '4'], {:include_blank => true, :selected => :blank, :class=>"float_and_margin"} %></div>
		</div>

		<div class="field_container">
			<div id="limitations_search" class="float_and_margin"><%= f.label :limitations_like, "Limitations" %></div>
			<div><%= f.select :limitations_like, ['Limited', 'Permission', 'LSO'], { :include_blank => true, :selected => :blank, :class=>"float_and_margin"} %></div>
		</div>

		<div class="field_container">			
			<div id="exam_search" class="float_and_margin"><%= f.label :exam_type_like, "Exam?" %></div>
			<div><%= f.select :exam_type_like, ['Self-scheduled', 'Scheduled', 'None'], { :include_blank => true, :selected => :blank, :class=>"float_and_margin"} %></div>
		</div>
			
		<div id="paper_search" class="float_and_margin"><%= f.label :paper_type_like, "Paper" %></div>
		<div><%= f.select :paper_type_like, ['Required', 'Option'], { :include_blank => true, :selected => :blank, :class=>"float_and_margin"} %></div>
	
	<% else %>
	
		<div class="field_container">		
			<div id="instructor_quality_search" class="float_and_margin"><%= f.label :instructor_quality_gt, "Instructor Quality" %></div>
			<div><%= f.select :instructor_quality_gt, ['Greater than...', '9', '8', '7', '6', '5'], { :class=>"float_and_margin"} %></div>
		</div>

		<div class="field_container">		
			<div id="classtime_value_search" class="float_and_margin"><%= f.label :classtime_value_gt, "Classtime Value" %></div>
			<div><%= f.select :classtime_value_gt, ['Greater than...', '9', '8', '7', '6', '5'], { :class=>"float_and_margin"} %></div>
		</div>

		<div class="field_container">		
			<div id="workload_search" class="float_and_margin"><%= f.label :workload_gt, "Workload" %></div>
			<div><%= f.select :workload_gt, ['Greater than...', '9', '8', '7', '6', '5'], { :class=>"float_and_margin"} %></div>
		</div>
	
	<% end %>

<div id="search_button"><%= f.submit "Search" %></div>
<div id="course_list_link"><%= link_to "Full Course List", courses_path, :remote => true %></div>

<div id="legend">
	Legend: 
	<img id="legend_gcal" src="/images/calendar.png" height=20 width=20> - Add to calendar </img>
	| <img id="legend_eval" src="/images/chart.png" height=20 width=20> - Course evaluations </img> 
	<% if not user_signed_in? %> 
	| <img id="legend_cart" src="images/shopping_cart.png" height=20 width=20> - Add to cart (only available after login) </img> 
	<% end %>
	<% if user_signed_in? %>
		| <img id="legend_cart" src="images/shopping_cart.png" height=20 width=20> - Add to cart </img> 
	<% end %>
<% end %>
</div>	