<h1> YLS courses</h1>
<%= notice %>
<div id="search_form">
	<%= render 'searches/search_form' %>
</div>
<%= link_to "Full course list", courses_path %>

<% if $searchable == 1 %>
	<div id = "results_scroll">
		HELLO1!
		<%= render :partial => 'searches/search_results' %>
	</div>
<% else %>
	<div id = "results_scroll">
		<%= render :partial => 'full_course_list' %>
	</div>
<% end %>

