<div id="container">
	
	<!-- Javascripts -->
	<script type="text/javascript" src="javascripts/custom/custom.js"></script>
	<script type="text/javascript" src="javascripts/custom/jquery.highlightFade.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#name_input').autocomplete({
			source: ["Access to Knowledge Practicum", "Administrative Law", "Administrative Law", "Adv Advocacy Children & Youth", "Adv Criminal Defense Project", "Adv Landlord/Tenant Clinic", "Adv Supreme Court Advocacy", "Adv Transnatl Devlopmnt Clinic", "Adv Veterans Legal ServsClinic", "Adv. EducationAdequacyProj.", "AdvCivilLibertiesPost9-11", "AdvImmigrationLegalServsClinic", "AdvLglSrvcesImmigrantCommuniti", "AdvLowensteinHumRtsClinic", "AdvWorkr&ImmigrantRtsClinic", "Advanced CED Clinic", "Advanced Ethics Bureau", "Advanced IRAP", "Advanced Legal Research", "Advanced Legal Writing", "Advanced SFALP", "Advocacy for Children & Youth", "American Legal History", "American Legal History:Res Sem", "Antidiscrimination Law", "Antitrust", "Banking Law and Regulation", "Bankruptcy", "Business Organizations", "Business Organizations", "CapPunshmnt:Race,Poverty,Disad", "Capital Punishment Clinic", "Community & Econ Development", "Comparative Administrative Law", "Complex Civil Lit.", "Conservatism", "Const. Litigation Seminar", "Const.Philos.Hist.", "ConstLaw,SocSci&Philosophy", "Cont. Leg. Iss. in Afr.", "ContempIssuesLaw&Business", "Corruption, Econ. Dev. & Dem.", "Crim Procedure: Investigation", "Crim. Law & Adm.", "Criminal Defense Project", "Criminal Law & Administration", "Crisis 21st Cent Constitution", "Democracy and Distribution", "Democratic Constitutionalism", "Disability Rights and Policy", "Disasters", "Education Adequacy Project", "Efficient TechniquesLegal Res", "Engineering&Ownership of Life", "Environ. Law & Pol.", "Environ.Protection Clinic", "Ethicl,Legl,SocResp: Investors", "Ethics Bureau at Yale", "Family, State, and Market", "Federal Courts:Selected Topics", "Federal Income Taxation", "First Amendment", "Globalization,Devl,Poverty&Law", "GloblHealthEthics,Politcs&Econ", "History of Common Law", "History of Political Economy", "Human Rights Workshop", "Immigration Legal Services", "Information Privacy Law", "Innovations in Policing", "Institutional Supreme Court", "International Commerc. Arbit.", "International Human Rights", "International Trade Law", "Internet Privacy", "Intro to Transnational Law", "Introd. to the Phil. of Law", "LGBT Rights Litigation Seminar", "Landlord/Tenant Legal Services", "Law and Globalization", "Law of Climate Change", "Law of Mergers & Acquisitions", "Law, Econ. & Org.", "Law, Inst & Devlpmt Early Amer", "Law, Politcs&SocLatinAmerica", "Laws of War:Contrversy&Precdnt", "Lawyer asLeader:GeneralCounsel", "Lawyering Ethics Clinic", "Legal Accounting", "Legal Assistance", "LegalWriting through a Lawsuit", "Legislative Advocacy Clinic", "Legl&EconAnalysis of Contracts", "LeglSrvcesImmigrantCommunities", "Liman: Justice and Courts", "Local Government in Action", "Lowenstein Int'l. Hum. Rights", "MediaFreedm&InfoAccessClinic", "Military Justice", "Mortgage Foreclosure Clinic", "NGOs,Humantiariansm&USForPol", "Nonprofit Org. Clinic", "Persuasion and Politics", "Prof Ethics,Pub Interest&Media", "Property", "Property", "Property: Ind.Res.", "Prosecution Externship", "Quantitative Corporate Finance", "Res. Meth Amer Legal Hist", "Sentencing Workshop", "SpecLeglRes: Corporate Law", "SpecLeglRes:For&IntlLaw", "Sports Law", "Supreme Court Advocacy", "Sustainable Oceans: Seminar", "Topics in Fed Crim Prosecution", "Transnatl Development Clinic", "Treaties&Other Intl Agreements", "Trial Practice", "US & EuropeanConstitutionalism", "US International Taxation", "Veterans Legal Services Clinic", "VeteransLegalServicesFieldwork", "Worker&Immigrant Rights Clinic", "Worker&ImmigrantRts:Fieldwork"]
		});			
	});
	</script>
	<!-- Signed in message -->
	<% if user_signed_in? %>
		<div class="hello_message"><%= @user.email %> is signed in</div>
	<% else %>
		<div class="hello_message" id="sign_in_for_cart">Please sign in to access cart</div>
	<% end %>
	
	<!-- Header -->
	<div id="logo_wrapper"><img src="/images/logo_cent_goth.png" id="logo" title="test"/></div>


	<!-- Shopping Cart -->
	<% if user_signed_in? %>	
	<div id="cart_border" class="round"><a href='' class="cart_toggle">Show cart</a></div>
	<div id="sidebar" class="round" title="test">
		<h2 id="shopping_title">Your Course Cart</h2> 
		<span id="bar"> | </span>
		<a href='' id="free_cart" style:"display:none">Free cart from screen</a>
		<a href='' id="fix_cart" style:"display:none">Re-fix cart to screen</a>
		<a href='' id="hide_cart">Hide [X]</a>
		<div id="cart" class="round">
		<% if @cart %>
			<%= render @cart %>
		<% else %>
			Your cart is empty
		<% end %>
		</div>
	</div>
		<% end %>
	<% if user_signed_in? %>
		<div id="see_calendar" class="round"><%= link_to "Show calendar", courses_path(:cal_on => 1), :class=>"cal_toggle", :remote => true %></div>
	<% end %>
		
	<!-- Search Box -->
	<h2 id="search_title">Search Classes (Spring 2012)</h2> <!--Search form -->
	<a href='' class="hide_search">Show <img src="/images/bullet_arrow_down.png" class="hide_search_img"></a>
	<a href='' class="hide_search">Hide <img src="/images/bullet_arrow_up.png" class="hide_search_img"></a>
	<div id="search_container" class="round"><%= render :partial => 'search_form' %></div>
	<br>
	
	<!-- Courses -->
	<span class="lightbox" id="small"></span>
	<div id="courses_body"><%= render :partial => 'courses' %></div> 
	
	<!-- Cal -->
	<% if user_signed_in? %>
	<div id="courses_cal" style="display:none;">
		<div class="lightbox_back">
			<div class="cal_lightbox_front">
				<span class="cal_lightbox_close"><a href='' id="close_cal">CLOSE [X]</a></span>
				<div id="cal_header_div">Course Calendar</div> |
				<%= link_to "Refresh calendar", courses_path(:cal_on=>1), :id=> "cal_classes_refresh", :remote => true %> 
				<span id="cal_cart_toggle"><a href='' class="cart_toggle" id="cal_cart">Show Cart</a> | </span>
				<div id="cal_wrapper" class="round">
					<%= render :partial => 'courses_main_cal' %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	
	
</div>
