<div id="container">
	
	<!-- Javascripts -->
	<script type="text/javascript" src="javascripts/custom/custom.js"></script>
	<script type="text/javascript" src="javascripts/custom/jquery.highlightFade.js"></script>

	<!-- Signed in message -->
	<% if user_signed_in? %>
		<div class="hello_message"><%= @user.email %> is signed in</div>
	<% else %>
		<div class="hello_message" id="sign_in_for_cart">Please sign in to access cart</div>
	<% end %>
	
	<!-- Header -->
	<div id="logo_wrapper"><img src="/images/logo_cent_goth.png" id="logo" title="test"></div>


	<!-- Shopping Cart -->
	<% if user_signed_in? %>	
	<div id="cart_border" class="round"><a href='' class="cart_toggle">Show cart</a></div>
	<div id="sidebar" style="display:none;" class="round">
		<h2 id="shopping_title">Your Course Cart</h2> 
		<span id="bar"> | </span>
		<a href='' id="free_cart" style:"display:none">Free cart from screen</a>
		<a href='' id="fix_cart" style:"display:none">Re-fix cart to screen</a>
		<a href='' id="hide_cart">Hide [X]</a>
		<div id="cart" class="round">
		<% if @cart %>
			<%= render @cart %>
		<% else %>
			Your cart is empty
		<% end %>
		</div>
	</div>
		<% end %>
	<% if user_signed_in? %>
		<div id="see_calendar" class="round"><%= link_to "Show calendar", courses_path(:cal_on => 1), :class=>"cal_toggle", :remote => true %></div>
	<% end %>
	
	<!-- Eval Toggle Button -->
		<table id="eval_toggle_wrapper" class="round">
			<tr id="info_toggle_tr">
				<% if @toggle == "0" %> <!-- Information view in white, ratings view in blue -->
				<td id="info_toggle_td"><%= link_to "Information view", courses_path(:toggle => 0), :id => "info_toggle", :class => "on_page_color", :remote => true %></td>
			</tr>
			<tr id="eval_toggle_tr">
				<td id="eval_toggle_td"><%= link_to "Ratings view", courses_path(:toggle => 1), :id => "eval_toggle", :remote => true %></td>
				<% elsif @toggle == "1" %> <!-- Information view in blue, ratings view in white -->
					<td id="info_toggle_td"><%= link_to "Information view", courses_path(:toggle => 0), :id => "info_toggle", :remote => true %></td>
				</tr>
				<tr id="eval_toggle_tr">
					<td id="eval_toggle_td"><%= link_to "Ratings view", courses_path(:toggle => 1), :id => "eval_toggle", :class => "on_page_color", :remote => true %></td>
				<% end %>
			</tr>
		</table>
	
	<!-- Search Box -->
	<h2 id="search_title">Search Classes (Spring 2012)</h2> <!--Search form -->
	<a href='' class="hide_search">Show <img src="/images/bullet_arrow_down.png" class="hide_search_img"></a>
	<a href='' class="hide_search">Hide <img src="/images/bullet_arrow_up.png" class="hide_search_img"></a>
	<div id="search_container" class="round"><%= render :partial => 'search_form' %></div>
	<br>
	
	<!-- Courses -->
	<span class="lightbox" id="small"></span>
	<div id="courses_body"><%= render :partial => 'courses' %></div> 
	
	<!-- Cal -->
	<% if user_signed_in? %>
	<div id="courses_cal" style="display:none;">
		<div class="lightbox_back">
			<div class="cal_lightbox_front">
				<span class="cal_lightbox_close"><a href='' id="close_cal">CLOSE [X]</a></span>
				<div id="cal_header_div">Course Calendar</div> |
				<%= link_to "Refresh calendar", courses_path(:cal_on=>1), :id=> "cal_classes_refresh", :remote => true %> 
				<span id="cal_cart_toggle"><a href='' class="cart_toggle" id="cal_cart">Show Cart</a> | </span>
				<div id="cal_wrapper" class="round">
					<%= render :partial => 'courses_main_cal' %>
				</div>
			</div>
		</div>
	</div>
	<% end %>
	
	
</div>
