<div id="container">

	<!-- Javascripts -->
	<script type="text/javascript">
	//for the autocomplete
		$(document).ready(function() {
			$('#name_input').autocomplete({
				source: <%= raw(@course_names.to_json) %>, delay:100
			});

			$('#search_instructor_like').autocomplete({
				source: <%= raw(@instructor_names.to_json) %>, delay:100
			});
		});
	</script>
	<script type="text/javascript" src="javascripts/custom/highlightFade.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-27159522-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

	<!-- Signed in message -->
	<% if user_signed_in? %>
		<div class="hello_message"><%= @user.email %> is signed in</div>
	<% else %>
		<div class="hello_message" id="sign_in_for_cart">Please sign in to access cart and calendar</div>
	<% end %>
	<div id="disclaimer">This unofficial data was last updated on 12/4/2012. Official info at <a href=" http://ylsinfo.law.yale.edu/wsw/">CISS</a>.</div>
	<% if user_signed_in? and current_user.ratings_authorized == true %>
  <!-- <table id="eval_toggle_wrapper" class="round">
    <%= render :partial => 'eval_toggle_wrapper' %>
  </table> -->
	<% end %>

	<!-- Header -->
	<div id="logo_wrapper"><img src="/images/logo_cent_goth.png" id="logo" title="test"/></div>


	<!-- Shopping Cart -->
	<% if user_signed_in? %>
	<div id="cart_border" class="round"><a href='' class="cart_toggle">Show cart</a></div>
	<div id="sidebar" class="round" title="test">
		<h2 id="shopping_title">Your Course Cart</h2>
		<span id="bar"> | </span>
		<a href='' id="free_cart" style:"display:none">Free cart from screen</a>
		<a href='' id="fix_cart" style:"display:none">Re-fix cart to screen</a>
		<a href='' id="hide_cart">Hide [X]</a>
		<div id="cart" class="round">
		<% if @cart %>
			<%= render @cart %>
		<% else %>
			Your cart is empty
		<% end %>
		</div>
	</div>
		<% end %>
	<% if user_signed_in? %>
		<div id="see_calendar" class="round"><%= link_to "Show calendar", courses_path(:cal_on => 1), :class=>"cal_toggle", :remote => true %></div>
		<% if current_user.ratings_authorized == nil %>
		<div id="activate_ratings" class="round"><%= link_to "Activate ratings", @cas_address %></div>
		<% end %>
	<% end %>


	<!-- Search Box -->
	<h2 id="search_title">Search Classes (Spring 2013)</h2> <!--Search form -->
	<a href='' class="hide_search">Show <img src="/images/bullet_arrow_down.png" class="hide_search_img"></a>
	<a href='' class="hide_search">Hide <img src="/images/bullet_arrow_up.png" class="hide_search_img"></a>
	<div id="search_container" class="round"><%= render :partial => 'search_form' %></div>
	<br>

	<!-- Courses -->
	<span class="lightbox" id="small"></span>
	<div id="courses_body"><%= render :partial => 'courses' %></div>

	<!-- Cal -->
	<% if user_signed_in? %>
	<div id="courses_cal" style="display:none;">
		<div class="lightbox_back">
			<div class="lightbox_front cal_lightbox_front">
				<span class="cal_lightbox_close"><a href='' id="close_cal">CLOSE [X]</a></span>
				<div id="cal_header_div">Course Calendar</div> |
				<%= link_to "Refresh calendar", courses_path(:cal_on=>1), :id=> "cal_classes_refresh", :remote => true %>
				<span id="cal_cart_toggle"><a href='' class="cart_toggle" id="cal_cart">Show Cart</a> | </span>
				<div id="cal_wrapper" class="round">
					<%= render :partial => 'courses_main_cal' %>
				</div>
			</div>
		</div>
	</div>
	<% end %>


</div>
