<table width="100%" cellspacing="0" cellpadding="0" border="0" id='yls'>
	<tr>
		<th> YLS Courses: Spring 2012 </th>
	</tr>
</table>
<div id="search_form">
	<%= form_for @search do |f| %>
	  <table id="search">
		<tr>
		    <th width="30%"><%= f.label :name_like, "Name" %></th>
			<th width="30%"><%= f.label :instructor_like, "Instructor" %></th>
			<th width="15%"><%= f.label :day_like, "Days (e.g. M or MW)" %></th>
			<th width="11%"><%= f.label :units_like, "Units" %></th>
			<th width="14%"><%= f.label :limitations_like, "Limitations" %></th>
	    </tr>
		<tr>
			<td><%= f.text_field :name_like, :size => 30 %></td>
	    	<td><%= f.text_field :instructor_like, :size => 30 %></td>
			<td><%= f.text_field :day_like, :size => 15%></td>
			<td><%= f.select :units_like, ['1', '2', '3', '4'], { :include_blank => true, :selected => :blank } %></td>
			<td><%= f.select :limitations_like, ['Limited', 'Permission', 'LSO'], { :include_blank => true, :selected => :blank } %></td>
		</tr>
		<tr><td><%= f.submit "Search" %></td></tr>	
	 </table>
	<% end %>
</div>
<br>

<!-- Table markup -->	
<table id="course_list">
	
  <!-- Table header -->
  <thead>
	  <tr>
	    <th scope="col" align="left" width="17%"><%= sort_link @search, :name %></th>
	    <th scope="col" align="left" width="10%"><%= sort_link @search, :number %></th>
	    <th scope="col" align="left" width="17%"><%= sort_link @search, :instructor %></th>
	    <th scope="col" align="left" width="8%"><%= sort_link @search, :room %></th>
	    <th scope="col" align="left" width="7%"><%= sort_link @search, :day %></th>
	    <th scope="col" align="left" width="6%"><%= sort_link @search, :units %></th>
	    <th scope="col" align="left" width="8%"><%= sort_link @search, :time %></th>
	    <th scope="col" align="left" width="12%"><%= sort_link @search, :limitations %></th>
	    <th scope="col" align="left" width="8%"><%= '' %></th>
	  </tr>
  </thead>
	
  <!-- Table body -->

  <tbody>
	<%= render :partial => 'tbody' %>
  </tbody>

</table>
