<div id="container">
	
	<!-- Javascripts -->
	<script type="text/javascript" src="javascripts/custom/custom.js"></script>
	<script type="text/javascript" src="javascripts/custom/jquery.highlightFade.js"></script>
	
	<!-- Header -->
	<div id="logo_wrapper"><img src="/images/logo_cent_goth.png" id="logo"></div>
	<!-- Shopping Cart -->
	<% if user_signed_in? %>
	<div id="cart_border" class="round"><a href='' id="cart_toggle">Show cart</a></div>
	<div id="sidebar">
		<h2 id="shopping_title">Your Course Cart</h2>
		<a href='' id="hide_cart">Hide [X]</a>
		<div id="cart" class="round">
		<% if @cart %>
			<%= render @cart %>
		<% else %>
			Your cart is empty
		<% end %>
		</div>
	</div>
		<% end %>
	<div id="see_calendar" class="round"><%= link_to "Show calendar", '/cal', :id=>"cal_toggle" %></div>
	
	<!-- Eval Toggle Button -->
		<table id="eval_toggle_wrapper" class="round">
			<tr id="info_toggle_tr">
				<% if @toggle == "0" %> <!-- Information view in white, ratings view in blue -->
				<td id="info_toggle_td"><%= link_to "Information view", courses_path(:toggle => 0), :id => "info_toggle", :class => "on_page_color", :remote => true %></td>
			</tr>
			<tr id="eval_toggle_tr">
				<td id="eval_toggle_td"><%= link_to "Ratings view", courses_path(:toggle => 1), :id => "eval_toggle", :remote => true %></td>
				<% elsif @toggle == "1" %> <!-- Information view in blue, ratings view in white -->
					<td id="info_toggle_td"><%= link_to "Information view", courses_path(:toggle => 0), :id => "info_toggle", :remote => true %></td>
				</tr>
				<tr id="eval_toggle_tr">
					<td id="eval_toggle_td"><%= link_to "Ratings view", courses_path(:toggle => 1), :id => "eval_toggle", :class => "on_page_color", :remote => true %></td>
				<% end %>
			</tr>
		</table>
	
	<!-- Search Box -->
	<h2 id="search_title">Search Classes</h2> <!--Search form -->
	<a href='' class="hide_search">Show <img src="/images/bullet_arrow_down.png" class="hide_search_img"></a>
	<a href='' class="hide_search">Hide <img src="/images/bullet_arrow_up.png" class="hide_search_img"></a>
	<div id="search_container" class="round"><%= render :partial => 'search_form' %></div>
	<br>
	
	<!-- Courses -->
	<span class="lightbox" id="small"></span>
	<div id="courses_body"><%= render :partial => 'courses' %></div> 
	
</div>
