<header>
	<% if user_signed_in? %>
		<div id="hello_message">You are signed in</div>
	<% end %>
	<nav class="round">
	    <div class="nav_item"><%= link_to "Home", root_path %></div>
		<div class="nav_item"><%= link_to "About", '/about', :class => "shadow" %></div>
	    <% if user_signed_in? %>
		    <div class="nav_item"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></div>
	  	<% else %>
	    	<div class="nav_item"><%= link_to "Sign up", new_user_registration_path, :class => "shadow" %></div>
		 	<div class="nav_item"><%= link_to "Sign in", new_user_session_path, :class => "shadow" %></div>
	  	<% end %>
	</nav>
</header>