<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%= javascript_include_tag "jquery-1.6.2.min" %>
	<script type="text/javascript" src="http://use.typekit.com/maq4dwq.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<%= javascript_include_tag :all %>
	<script type="text/javascript" src="/shadowbox/shadowbox.js"></script>
	<script type="text/javascript">
	Shadowbox.init();
	</script>
	<link rel="stylesheet" type="text/css" href="/shadowbox/shadowbox.css">
	<%= render 'layouts/stylesheets' %>
	<%= csrf_meta_tag %>
  </head>
  <body>
	<%= render 'layouts/header' %>
	<%= yield %>
  </body>
</html>