<!DOCTYPE html>
<html>
  <head>
    <title>YLS Class Action</title>
	<%= javascript_include_tag 'jquery-1.6.2.min.js'%>
	<%= javascript_include_tag :all %>
	<script type="text/javascript" src="/shadowbox/shadowbox.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		Shadowbox.init({
		overlayOpacity: 0
		});
	});
	</script>
	<link rel="stylesheet" type="text/css" href="/shadowbox/shadowbox.css">
	<%= render 'layouts/stylesheets' %>
	<%= csrf_meta_tag %>
  </head>
  <body>
	<%= render 'layouts/header' %>
	<%= yield %>
  </body>
</html>