<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<%= javascript_include_tag :all %>
	<%= render 'layouts/stylesheets'%>
	<%= csrf_meta_tag %>
  </head>
  <body>
	<%= render 'layouts/header' %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%= yield %>
  </body>
</html>