<!DOCTYPE html>
<html>
  <head>
    <title>YLS Class Action</title>
	<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'%>
	<!-- <%= javascript_include_tag '/javascripts/jquery-1.6.2.min.js' %> -->
	<script type="text/javascript" src="javascripts/custom/custom.js"></script>
	<%= javascript_include_tag :all %>
	<script type="text/javascript" src="/shadowbox/shadowbox.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		Shadowbox.init({
		overlayOpacity: 0
		});
	});
	</script>
	<link rel="stylesheet" type="text/css" href="/shadowbox/shadowbox.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/tipTip.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui-1.8.16.custom.css">
	<%= render 'layouts/stylesheets' %>
	<%= csrf_meta_tag %>
  </head>
  <body>
	<%= render 'layouts/header' %>
	<%= yield %>
  </body>
</html>